@import url('style_index.css');

/* Estilos para el cuadro que contiene los elementos */
.cuadrado {
    background-color: transparent;
    padding: 20px;
    border: 3px solid #00AFF4;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-left: 29%;
    margin-top: 80px;
    width: 600px;
    height: 300px;
}

.cuerpo h1 {
    position: relative;
    top: 14px;
    color: #fff;
    font-size: 27px;
}

.cuerpo button {
    padding: 0;
    position: relative;
    background-color: #7289DA;
    color: white;
    cursor: pointer;
    font-size: 16px;
    top: 170px;
    right: 120px;
    /* Ajusta el margen arriba según tus necesidades */
    width: 310px;
    height: 40px;
    box-shadow: 10px 10px 10px 10px rgba(0.5, 0.5, 0.5, 0.5);
    margin-left: 250px;
    /* Centra el botón horizontalmente */
    /* Centra el botón horizontalmente */
}

.correo {
    position: absolute;
    color: #B9BBBE;
    margin-top: 40px;
    margin-left: 130px;
}

.ic {
    position: fixed;
    width: 300px;
    margin-top: 70px;
    right: 510px;
    height: 22px;
    transition: background-color 0.3s ease, transform 0.3s ease, font-size 0.3s ease;
}

.ic:hover {
    transform: scale(1.05);
    /* Efecto de agrandamiento al pasar el mouse */
    font-size: 1.1rem;
}

.ci {
    position: fixed;
    width: 300px;
    margin-top: 130px;
    right: 510px;
    height: 22px;
    transition: background-color 0.3s ease, transform 0.3s ease, font-size 0.3s ease;
}

.ci:hover {
    transform: scale(1.05);
    /* Efecto de agrandamiento al pasar el mouse */
    font-size: 1.1rem;
}

.contrasenia {
    position: absolute;
    color: #B9BBBE;
    margin-top: 100px;
    margin-left: 130px;
}

.cuerpo p {
    color: #B9BBBE;
    position: relative;
    top: 180px;
}

.registrar {
    color: #677BC4;
}

.cont-footer {
    grid-row: 4 / span 2
}