<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style_index.css"> <!--cambiar a {{ url_for('static', filename='css/style_index.css') }}"-->
    <title>Bienvenido a Michi Code</title>
</head>


<body>
    <header>
        <p><b>michi code</p>
    </header>
   <div class="container">
        <h1 class="welcome-text">Bienvenido a Michi Code!</h1>
        <div class="button-container">
            <button class="start-button"><a href="login.html">Iniciar la aventura</button> <!-- cambiar a  href="{{url_for("login")}} cuando conecten con la api-->
        </div>
    </div>

</body>


</html>
