<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_inicio.css') }}">
    <title>Michi Code</title>
    
</head>

<body class="container-dc">
    <!-- Lista de servidores-->
    <nav class="nav-servers">
        <ul>
            <li class="nav-servers_logo circle_button">
                <a href="#">
                    <svg height="30px" width="30px" fill="currentColor" version="1.1" id="_x32_"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        viewBox="0 0 512 512">
                        <g>
                            <path class="st0"
                                d="M504.302,195.59c-10.618-6.362-29.71-43.514-33.959-47.755c-4.249-4.256-28.662-13.81-28.662-13.81
                                            l-13.795-43.514c-26.542,3.185-42.449,45.634-43.513,48.819c0,0-2.661,73.764-120.47,45.11
                                            c-84.437-20.54-135.22-40.407-177.872-0.36c-2.668-4.578-4.491-9.234-5.822-14.257c-2.378-9.062-2.918-19.46-2.91-31.308
                                            c0-5.806,0.109-11.924,0.117-18.34c-0.008-13.436-0.493-28.248-4.046-44.015C69.85,60.386,63.136,43.743,51.344,27.162
                                            c-5.086-7.168-15.024-8.858-22.199-3.764c-7.167,5.094-8.858,15.031-3.764,22.199c9.304,13.145,14.162,25.368,16.932,37.551
                                            c2.739,12.167,3.271,24.397,3.264,37.027c0,6.024-0.118,12.136-0.118,18.34c0.016,12.646,0.438,25.799,3.928,39.32
                                            c2.746,10.735,7.722,21.58,15.508,31.706C31.93,261.458,50.037,316.584,50.037,316.584l-34.093,54.241
                                            c-0.618,0.978-1.033,2.066-1.244,3.192L0.146,454.073c-0.641,3.521,0.862,7.08,3.819,9.084l40.979,27.763
                                            c0.876,0.602,1.964,0.775,2.981,0.493c1.026-0.274,1.863-0.994,2.308-1.949l8.326-17.825c0.618-1.338,0.368-2.918-0.634-3.998
                                            l-10.728-11.448c-2.182-2.324-2.973-5.634-2.081-8.701l17.84-61.033c0.579-1.948,1.784-3.646,3.435-4.82l23.983-17.058
                                            c3.255-2.332,7.66-2.222,10.806,0.251c3.146,2.472,4.288,6.721,2.809,10.438L93.41,401.858c-1.22,3.051-0.681,6.525,1.401,9.06
                                            l60.298,73.365h45.218c1.996,0,3.616-1.62,3.616-3.607v-22.504c0-1.996-1.62-3.615-3.616-3.615h-14.303
                                            c-3.342,0-6.409-1.854-7.982-4.804l-24.484-41.049c-1.643-3.106-1.33-6.87,0.783-9.663l21.948-28.999
                                            c1.706-2.245,4.367-3.575,7.192-3.575h61.197c2.872,0,5.579,1.376,7.277,3.701c1.698,2.324,2.191,5.313,1.33,8.059l-19.726,62.16
                                            c-0.626,1.957-0.564,4.077,0.18,5.994l12.653,32.598h39.272v-8.49l-6.494-20.415c-0.61-1.909-0.563-3.967,0.133-5.852
                                            l26.471-71.847c1.315-3.553,4.694-5.908,8.474-5.908h27.011c2.449,0,4.796,1.002,6.502,2.777l74.813,103.365c0,0,38.208,0,50.947,0
                                            c12.738,0,7.809-25.414-4.241-26.542c-22.826-2.12-52.004-65.798-64.742-88.09c-12.739-22.285,24.664-91.299,53.067-94.453
                                            c28.654-3.185,43.514-14.867,47.763-30.79C513.856,223.187,514.92,201.959,504.302,195.59z" />
                        </g>
                    </svg>
                </a>
            </li>
            <li class="nav-servers_logo ">
                <a href="#">
                    <picture>
                        <img src="{{url_for("static", filename="assets/avatar_girl.png")}}" alt="imagen del servidor">
                    </picture>
                </a>
            </li>
            <li class="nav-servers_logo">
                <a href="#" >
                    <picture>
                        <img src="{{url_for("static", filename="assets/avatar_boy.png")}}" alt="imagen del servidor">
                    </picture>
                </a>
            </li>
            <li class="nav-servers_logo circle_button">
                <a href="#" id="crearServidorBtn">
                    <picture>
                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 9H17M9 1V17" stroke="#3BA55D" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                    </picture>
                </a>
            </li>
        </ul>
    </nav>

    <!-- Ventana modal -->
    <div id="crearServidorModal" class="modal">
        <div class="modal-contenido">
            <span class="cerrar" id="cerrarModal">&times;</span>
            <h2>Crear un nuevo servidor</h2>
            <form id="crearServidorForm" method="POST" action="/inicio">
                <input type="text" id="nombreServidor" name="nombreServidor" placeholder="Nombre del servidor">
                <button type="submit" id="guardarServidorBtn" class="guardarServidorBtn">Guardar</button>
                <button type="button" id= "cerrarBtnModal"class="cerrarBtn">Cancelar</button>
            </form>
        </div>
    </div>

    <!-- Contenido del servidor-->
    <main class="container">
        <!-- Canales de un servidor-->
        <section class="sidebar-channels">

            <!-- Lista de canales -->
            <div class="sidebar-channels_list">
                <div class="channels_list_item flex-center">
                    <div class="channels_logo flex-center">
                        <svg height="25px" width="25px" fill="currentColor" version="1.1" id="_x32_"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            viewBox="0 0 512 512" xml:space="preserve">
                            <g>
                                <path class="st0" d="M205.116,153.078c31.534,11.546,69.397-12.726,84.58-54.209c15.174-41.484,1.915-84.462-29.614-96.001
                        		c-31.541-11.53-69.4,12.735-84.582,54.218C160.325,98.57,173.584,141.548,205.116,153.078z" />
                                <path class="st0" d="M85.296,219.239c32.987-2.86,56.678-40.344,52.929-83.75c-3.757-43.391-33.545-76.253-66.532-73.409
                        		c-32.984,2.869-56.674,40.36-52.921,83.759C22.53,189.23,52.313,222.091,85.296,219.239z" />
                                <path class="st0" d="M342.196,217.768c28.952,17.017,70.552-0.073,92.926-38.154c22.374-38.106,17.041-82.758-11.915-99.774
                        		c-28.951-17.001-70.56,0.097-92.93,38.178C307.905,156.117,313.245,200.768,342.196,217.768z" />
                                <path class="st0" d="M497.259,262.912c-18.771-27.271-63.07-29.379-98.954-4.694c-35.892,24.701-49.762,66.822-30.996,94.101
                        		c18.766,27.27,63.069,29.38,98.954,4.686C502.143,332.312,516.021,290.191,497.259,262.912z" />
                                <path class="st0"
                                    d="M304.511,268.059c-3.58-24.773-18.766-47.366-43.039-58.824c-24.268-11.45-51.365-8.807-72.758,4.169
                        		c-23.646,14.35-38.772,33.096-59.138,41.29c-20.363,8.193-77.4-16.209-112.912,48.278c-25.081,45.548-2.057,103.128,44.962,125.315
                        		c35.738,16.864,64.023,14.981,84.788,24.774c20.762,9.793,37.29,32.83,73.025,49.692c47.018,22.188,106.1,3.362,125.315-44.957
                        		c27.206-68.407-27.897-96.922-34.522-117.85C303.613,319.021,308.47,295.426,304.511,268.059z" />
                            </g>
                        </svg>
                    </div>
                    <h2 class="fs-1">Michi Code</h2>
                </div>
                <div class="channels_add flex-center" onclick = "openNavCreateCanal()">
                    <h3>CANALES DIRECTOS</h3>
                    <div class="channels_logo flex-center" >
                        <picture>
                            <svg width="12" height="12" viewBox="0 0 14 14" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 7H13M7 1V13" stroke="CurrentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </picture>
                    </div>
                </div>
                <div class="channels_add flex-center" onclick = "openNavCanal()">
                    <h3>CANALES</h3>
                </div>
            </div>

            <!-- Pie de la lista de canales -->
            <div class="sidebar-channels_footer flex-center">
                <!-- Boton de avatar del usuario-->
                <div class="flex-center mx-1" onclick = "openNavPerfil()">
                    <!-- Imagen del avatar -->
                    <div class="circle_button channels_logo flex-center">
                        <div class="mg-1 ">
                            <svg height="25px" width="25px" fill="currentColor" version="1.1" id="_x32_"
                                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                viewBox="0 0 512 512">
                                <g>
                                    <path class="st0"
                                        d="M504.302,195.59c-10.618-6.362-29.71-43.514-33.959-47.755c-4.249-4.256-28.662-13.81-28.662-13.81
                                                    l-13.795-43.514c-26.542,3.185-42.449,45.634-43.513,48.819c0,0-2.661,73.764-120.47,45.11
                                                    c-84.437-20.54-135.22-40.407-177.872-0.36c-2.668-4.578-4.491-9.234-5.822-14.257c-2.378-9.062-2.918-19.46-2.91-31.308
                                                    c0-5.806,0.109-11.924,0.117-18.34c-0.008-13.436-0.493-28.248-4.046-44.015C69.85,60.386,63.136,43.743,51.344,27.162
                                                    c-5.086-7.168-15.024-8.858-22.199-3.764c-7.167,5.094-8.858,15.031-3.764,22.199c9.304,13.145,14.162,25.368,16.932,37.551
                                                    c2.739,12.167,3.271,24.397,3.264,37.027c0,6.024-0.118,12.136-0.118,18.34c0.016,12.646,0.438,25.799,3.928,39.32
                                                    c2.746,10.735,7.722,21.58,15.508,31.706C31.93,261.458,50.037,316.584,50.037,316.584l-34.093,54.241
                                                    c-0.618,0.978-1.033,2.066-1.244,3.192L0.146,454.073c-0.641,3.521,0.862,7.08,3.819,9.084l40.979,27.763
                                                    c0.876,0.602,1.964,0.775,2.981,0.493c1.026-0.274,1.863-0.994,2.308-1.949l8.326-17.825c0.618-1.338,0.368-2.918-0.634-3.998
                                                    l-10.728-11.448c-2.182-2.324-2.973-5.634-2.081-8.701l17.84-61.033c0.579-1.948,1.784-3.646,3.435-4.82l23.983-17.058
                                                    c3.255-2.332,7.66-2.222,10.806,0.251c3.146,2.472,4.288,6.721,2.809,10.438L93.41,401.858c-1.22,3.051-0.681,6.525,1.401,9.06
                                                    l60.298,73.365h45.218c1.996,0,3.616-1.62,3.616-3.607v-22.504c0-1.996-1.62-3.615-3.616-3.615h-14.303
                                                    c-3.342,0-6.409-1.854-7.982-4.804l-24.484-41.049c-1.643-3.106-1.33-6.87,0.783-9.663l21.948-28.999
                                                    c1.706-2.245,4.367-3.575,7.192-3.575h61.197c2.872,0,5.579,1.376,7.277,3.701c1.698,2.324,2.191,5.313,1.33,8.059l-19.726,62.16
                                                    c-0.626,1.957-0.564,4.077,0.18,5.994l12.653,32.598h39.272v-8.49l-6.494-20.415c-0.61-1.909-0.563-3.967,0.133-5.852
                                                    l26.471-71.847c1.315-3.553,4.694-5.908,8.474-5.908h27.011c2.449,0,4.796,1.002,6.502,2.777l74.813,103.365c0,0,38.208,0,50.947,0
                                                    c12.738,0,7.809-25.414-4.241-26.542c-22.826-2.12-52.004-65.798-64.742-88.09c-12.739-22.285,24.664-91.299,53.067-94.453
                                                    c28.654-3.185,43.514-14.867,47.763-30.79C513.856,223.187,514.92,201.959,504.302,195.59z" />
                                </g>
                            </svg>
                        </div>
                    </div>

                    <!-- Id y nick del usuario-->
                    <div class="mg-1">
                        <h4 class="fs-2">michi</h3>
                            <p>#0000</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Contenido a mostrar -->
        <section id="container-extend" class="channel-content">
            <div class="channel-btn">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
            </div>
            <div class="channel-container">
                <!-- Mensaje de espera -->
                <div id="container-cat-sad" class="channel-content_chat-area">
                    <picture>
                        <img src="{{url_for("static", filename="assets/sad_cat.png")}}" alt="gato triste">
                    </picture>
                    <p>El michi está esperando a los amigos. ¡Sin embargo, no tienes que hacerlo!</p>
                </div>

                <!-- Formulario para crear canal -->
                <div id="create-channel" class="create-channel">
                    <h2>Crear un nuevo canal</h2>
                    <form id="crearCanalForm" method="POST" action="/inicio">
                        <input type="text" id="nombreCanal" name="nombreServidor" placeholder="Nombre del servidor">
                        <button type="submit" id="guardarCanalBtn" class="guardarServidorBtn">Guardar</button>
                    </form>
                </div>
                <!-- Chat del canal seleccionado -->
                <div id="container-chat-channel" class="chat-area">
                    <div class="chat">
                        <h3 class="mx-1">Nombre de usuario</h3>
                        <p class="mx-1">Mensaje del usuario</p>
                    </div>
                    <div class="chat">
                        <h3 class="mx-1">Nombre de usuario</h3>
                        <p class="mx-1">Mensaje del usuario</p>
                    </div>
                    <!-- Aqui deberian generarse con js mas divs que contengan los mensajes que se envian-->
                    <!-- Formulario para escribir y enviar mensaje al chat-->
                    <form class="mx-1" id="crearMensajeForm" method="POST" action="/inicio">
                        <input type="text" id="mensaje" name="mensaje" placeholder="Escribe aqui tu mensaje...">
                        <button type="submit" id="enviarMensajeBtn" class="enviarMensajeBtn">ENVIAR</button>
                    </form>
                </div>
                <!-- Ver perfil-->
                <div id="perfil" class="perfil ">
                    <h2>Mi perfil</h2>
                    <div>
                        <div>
                            <picture class="circle_button channels_logo flex-center">
                                <img src="{{url_for("static", filename="assets/avatar_boy.png")}}" alt="imagen del servidor">
                            </picture>
                            <h3>Nombre de usario</h3>
                        </div>
                        <div>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th scope="row">Nombre de usario</th>
                                        <td>Luchi</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Nombre</th>
                                        <td>Lucia</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Apellido</th>
                                        <td colspan="2">Galán</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Correo electrónico</th>
                                        <td colspan="2">luchi_galan@gmail.com</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="{{url_for("static", filename="js/modal.js")}}"></script>
</body>

</html>